header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 5px;
	justify-content: center;
    margin-right: 60px;
	margin-top: 2em; 
}

header li {
	white-space: nowrap;
	font-size: 22px;
	color: #ff6060;
	font-weight: 500;
}
.active {
	text-decoration: underline;
	color: #ff6060;
}

header img {
	position: relative;
	width: 200px;
	margin-left: -31em;
	margin-top: 0em;
}

@media screen and (max-width: 768px) {
	header img {
		width: 140px;
	}

	header li {
		font-size: 13px;
	}
}
@media screen and (max-width: 576px) {
	header ul {
		column-gap: 20px;
	}
}